.events {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  gap: 2rem;
}

.event {
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  background-color: var(--color-primary-700);
  transition: transform 0.3s;
  width: 13rem;
}

.event:hover {
  transform: translateY(-10px);
}

.event h2 {
  margin-top: 0;
  color: #333;
  margin-bottom: 1rem;
}

.event h5 {
  color: #777;
  margin-bottom: 1.2rem;
}

.event p {
  color: #555;
  font-size: 1.2rem;
}

.event a {
  color: #111;
}
